/* Font styles for my reusable UI framework */
/* Ian W Scott */
/* public domain */
/* non-Roman scripts */
@font-face {
  font-family: 'SBLGreekRegular';
  src: url('../plugin_framework/fonts/sbl_grk-webfont.eot');
  src: local('☺'), url('../plugin_framework/fonts/sbl_grk-webfont.woff') format('woff'), url('../plugin_framework/fonts/sbl_grk-webfont.ttf') format('truetype'), url('../plugin_framework/fonts/sbl_grk-webfont.svg#webfontRelj09Wi') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'EstrangeloEdessaRegular';
  src: url('../plugin_framework/fonts/estre-webfont.eot');
  src: local('☺'), url('../plugin_framework/fonts/estre-webfont.woff') format('woff'), url('../plugin_framework/fonts/estre-webfont.ttf') format('truetype'), url('../plugin_framework/fonts/estre-webfont.svg#webfont7YE92Obt') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SBLHebrewRegular';
  src: url('../static/plugin_framework/fonts/sbl_hbrw-webfont.eot');
  src: local('☺'), url('../plugin_framework/fonts/sbl_hbrw-webfont.woff') format('woff'), url('../plugin_framework/fonts/sbl_hbrw-webfont.ttf') format('truetype'), url('../plugin_framework/fonts/sbl_hbrw-webfont.svg#webfontUHtlyWNi') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AbyssinicaSIL';
  src: url('../static/plugin_framework/fonts/abyssinica_sil-webfont.eot');
  src: local('☺'), url('../plugin_framework/fonts/abyssinica_sil-webfont.woff') format('woff'), url('../plugin_framework/fonts/abyssinica_sil-webfont.ttf') format('truetype'), url('../plugin_framework/fonts/abyssinica_sil-webfont.svg#webfont5nU8VVLc') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* typography for non-Roman scripts */
.Ethiopic {
  font-family: AbyssinicaSIL;
  font-size: 1.5em;
}
.Aramaic,
.Hebrew {
  font-family: SBLHebrewRegular, 'Ezra SIL', 'Times New Roman';
  font-size: 1.75em;
  direction: rtl;
}
.Greek {
  font-family: SBLGreekRegular, Gentium, 'Galatia SIL', Palatino, 'Palatino Linotype', 'Times New Roman';
  font-size: 1.25em;
  direction: ltr;
}
.Syriac {
  font-family: 'EstrangeloEdessaRegular';
  direction: ltr;
}
.Latin,
.English {
  font-family: Petrona, Palatino, 'Palatino Linotype', serif;
}
/* typography ****************************************/
/***** links ******/
a {
  text-decoration: none;
}
a:hover,
a:active,
a:link {
  text-decoration: none;
}
/***** headings ******************************************/
/*.heading()             {font-family: @fonts1;*/
/*display:block;*/
/*margin:0;}*/
/*h1, h1 a               {font-size: @baseFontSize * 2;*/
/*line-height: @baseLineHeight * 2;*/
/*.heading;}*/
/*h2,*/
/*h3                     {.heading;}*/
/* labels ******************************************************************/
/*.label_new                             {*/
/*&:before                           {content:'new';*/
/*color: @spring-green;*/
/*font-weight: bold;*/
/*font-style: italics;*/
/*margin-right: @baseLineHeight;*/
/*margin-left: -(@baseLineHeight * 2);*/
/*display: inline-block;}*/
/*}*/
